
.red{
    background-color: rgb(250, 1, 1);
    height: 100px;
   
    text-align: center;

}
.black{
    background-color: black;
    height: 100px;
    /* width: 100%; */
    text-align: center;
    color: aliceblue;
}
.purple{
    background-color: purple;
    height: 100px;
    text-align: center;
}
.blue{
    background-color: aqua;
    height: 100px;
    text-align: center;
}

.green{
    background-color: green;
    height: 100px;
    
    text-align: center;
}
.orange{
    background-color: rgb(212, 49, 16);
    height: 100px;
    
    text-align: center;
}
.pink{
    background-color: rgb(236, 11, 146);
    height: 100px;
    
    text-align: center;
}
.vo{
    background-color: rgb(22, 1, 37);
    height: 100px;
    color: antiquewhite;
    
    text-align: center;
}
.brown{
    background-color: rgb(44, 0, 0);
    height: 100px;
    
    text-align: center;
    color: antiquewhite;
}



